{% extends "main.html" %}

{% block content %}
  {{ super() }}
  
  <div class="grid cards">
    <ul>
      {% for subpage in nav.pages %}
        {% if subpage.url.startswith(page.url) and subpage.url != page.url %}
          <li>
            <h2><a href="{{ subpage.url | url }}"><strong>{{ subpage.title }}</strong></a></h2>
            {% if subpage.meta and subpage.meta.description %}
              <hr>
              <p>{{ subpage.meta.description }}</p>
            {% endif %}
          </li>
        {% endif %}
      {%- endfor %}
    </ul>
  </div>
{% endblock %}