:root {
    --md-primary-fg-color: #2344b0;
    --md-primary-fg-color--light: #6791e0;
    --md-primary-fg-color--lighter: #84a3db;
    
    --md-typeset-a-color: #6791e0;
    --md-typeset-subtitle-color: #70737a;
    --md-typeset-subtitle-color--lighter: #878b92;
}

.md-typeset a {
    color: var(--md-primary-fg-color--light);
}

.md-nav__item .md-nav__link--active,
.md-nav__item .md-nav__link--active code {
    color: var(--md-primary-fg-color--light);
}

.md-typeset img {
    max-width: 75%;
}

.md-typeset h1 {
    margin-bottom: 0;
}

.md-typeset h2.subtitle {
    color: var(--md-typeset-subtitle-color);
    margin-top: 0;
    font-size: 1.25em;
}

.md-typeset blockquote {
    color: var(--md-typeset-color);
}

.md-nav--secondary li.md-nav__item > .md-nav__link {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.md-icon-color--success {
    color: #00c853;
}

.md-icon-color--warning {
    color: #ff9100;
}